[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/kubernetes/kubernetes
After={{ container_runtime }}.service
Requires={{ container_runtime  }}.service

[Service]
User=root
WorkingDirectory={{ kubernetes.kubelet_dir | default("/var/lib/kubelet") }}
EnvironmentFile=-/etc/sysconfig/kubelet
ExecStart=/usr/bin/kubelet $KUBELET_ARGS

Restart=on-failure
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
