KUBELET_ARGS="\
    --bootstrap-kubeconfig=/etc/kubernetes/bootstrap.kubeconfig \
    --cert-dir=/etc/kubernetes/pki \
    --config=/etc/kubernetes/kubelet.conf \
{% if container_runtime == "containerd" %}
    --runtime-cgroups=/system.slice/containerd.service \
    --container-runtime=remote \
    --container-runtime-endpoint=unix:///var/run/containerd.sock \
    --image-service-endpoint=unix:///var/run/containerd.sock \
{% else %}
    --container-runtime=docker \
    --container-runtime-endpoint=unix:///var/run/dockershim.sock \
{% endif %}
    --hostname-override={{ ansible_hostname }}-{{ ansible_default_ipv4.address }} \
    --kubeconfig=/etc/kubernetes/kubelet.kubeconfig  \
    --logtostderr=true \
    --network-plugin=cni \
    --root-dir={{ kubernetes.kubelet_dir | default("/data/kubernetes/kubelet") }} \
    --pod-infra-container-image=registry.cn-hangzhou.aliyuncs.com/qcloud-gcr/pause-amd64:3.2 \
    --v=2"
