[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/kubernetes/kubernetes
After={{container_runtime}}.service
Requires={{container_runtime}}.service

[Service]
User=root
WorkingDirectory={{ kubernetes.kubelet_dir | default("/data/kubernetes/kubelet") }}
EnvironmentFile=-/etc/kubernetes/kubelet
ExecStart=/usr/bin/kubelet $KUBELET_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
