apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/ca.pem
    server: https://{% if 'domain_name' in loadbalance %}{{loadbalance.domain_name}}:{{loadbalance.port}}{% elif 'ip' in loadbalance %}{{loadbalance.ip}}:{{loadbalance.port}}{% else %}{{ ansible_default_ipv4.address  }}:6443{% endif %}

  name: {{ kubernetes.clusterName }}
contexts:
- context:
    cluster: {{ kubernetes.clusterName  }}
    user: {{ kubernetes.clusterAdminName  }}
  name: kubernetes
current-context: kubernetes
kind: Config
preferences: {}
users:
- name: {{ kubernetes.clusterAdminName   }}
  user:
    client-certificate: /etc/kubernetes/pki/admin.pem
    client-key: /etc/kubernetes/pki/admin.key
